@media (min-width: 1201px) {
  .hexGrid {
    padding-bottom: 11.2%;
  }
  .hex {
    width: 40%;
  }
  .hex:nth-child(4n + 3) {
    margin-left: 20%;
  }
}


@media (min-width: 400px) {
    .hexGrid {
      font-size: 13px;
    }
  }
  