.hex {
  animation: hexIntro 0.75s forwards;
  transform: rotateY(-90deg);
}

@for $i from 1 through 50 {
  .hex {
    &:nth-child(#{$i}) {
      animation-delay: $i * (1s/10);
    }
  }
}

@keyframes hexIntro {
  100% {
    transform: rotateY(0);
  }
}
