$text-Color: rgba(255, 250, 198, 1);
$BackgroundColor-HexFilter: rgba(233, 255, 140, 1);
$HexMap-Container-width: 650px;

.LandingPage-container {
  width: 95vw;
  margin: 0 auto;
  .Bevi-introCotntainer {
    text-align: center;
    margin: 60px 0px;
    small {
      font-weight: bold;
      color: #36393b;
    }
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;

    h2 {
      text-align: center;
      margin: 30px 0;
    }
    .featuredCompanies-container {
      margin: auto;
      width: $HexMap-Container-width;
    }

    .QuickSearch-container {
      margin: auto;
      width: $HexMap-Container-width;
    }
  }
  .StartSearching {
    text-align: center;

    button {
      background-color: #000000;
      width: 175px;
      height: 50px;
      font-size: 18px;
      color: $text-Color;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: rgb(48, 48, 48);
      }
    }
  }
}
