* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Metrophobic", sans-serif;
  // font-family: 'Averia Sans Libre', cursive;
  font-family: 'Meera Inimai', sans-serif;
  &::selection {
    background-color: #ffd816;
  }
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #f2ad00;
}