* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Metrophobic", sans-serif;
  font-family: "Tienne", serif;
}

body {
  user-select: none;
  width: 100%;
  height: 100vh;
  background-color: #f2ad00;
}
