/* Coolors Exported Palette - coolors.co/f2ad00-ffd816-f7ff19-e9ff8c-fffac6 */

/* HSL */
$color1: hsla(43%, 100%, 47%, 1);
$color2: hsla(50%, 100%, 54%, 1);
$color3: hsla(62%, 100%, 55%, 1);
$color4: hsla(71%, 100%, 77%, 1);
$color5: hsla(55%, 100%, 89%, 1);

/* RGB */
$color1: rgba(242, 173, 0, 1);
$color2: rgba(255, 216, 22, 1);
$color3: rgba(247, 255, 25, 1);
$color4: rgba(233, 255, 140, 1);
$color5: rgba(255, 250, 198, 1);