.CompanyDetails-container {
  position: relative;
  background-color: #e9ff8c;
  width: 75vw;
  margin: 120px auto;

  .companyHeroImage {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: gray; 
    background-size: cover;
    background-position: center;
    .LogoContainer {
      position: absolute;
      bottom: 5%;
      width: 200px;
      height: 200px;
    }
  }
  .content {
    padding: 20px;
    .CompanyIntro-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .CompanyIntro-left {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        .companyMainInfo {
          width: 50%;
          h3 {
            font-size: 1em;
            color: #4a4a4a;
          }
        }
      }
      // .CompanyIntro-right {
      //   width: 35%;
        .button-container {
          background-color: #000;
          display: inline-block;
          width: 150px;
          height: 30px;
          text-align: center;
          .text-btn {
            color: #fffac6;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
          }
        }
      // }
    }
    .bodyContent {
      margin-top: 55px;

      .bodyInfoContainer {
        margin-bottom: 55px;

        h4 {
          margin-bottom: 25px;
        }
        p {
          white-space: pre-line;
        }
      }
    }

    .footerContent {
      width: 100%;
      .additionalInfo-container {
        width: 50%;
        .list-conatiner {
          list-style: none;
          li {
            margin-bottom: 10px;
            span {
              display: block;
              margin-left: 30px;
              color: #4a4a4a;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .CompanyDetails-container {
    width: 100%;
    .CompanyIntro-container {
      .CompanyIntro-left {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        .companyMainInfo {
          text-align: center;
        }
      }
      .CompanyIntro-right {
        width: 100%;
        text-align: center;
        .button-container {
          margin: 0 auto;
        }
      }
    }
  }
}
