.CompanyDetails-container {
  .content {
    display: flex;
    height: 82vh;
    .company-Info {
      width: 75%;
      padding: 20px;

      .LogoContainer {
        width: 150px;
        height: 150px;
      }

      .companyMainInfo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .info-left {
          display: flex;
          flex-wrap: wrap;

          justify-content: flex-start;
          .companyInfo-titles {
            margin: 55px 0;
            h2 {
              font-size: 1em;
              color: gray;
            }
          }
        }

        .button-container {
          background-color: #000;
          display: inline-block;
          margin: 50px 20px;
          width: 150px;
          height: 30px;
          text-align: center;
          .text-btn {
            color: #fffac6;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
          }

          &:hover {
            background-color: rgb(48, 48, 48);
          }
        }
      }
      .companySliderInfo-container {
        width: 100%;
        height: 70%;
      }
    }

    .related-companies {
      width: 20%;
      height: auto;
      margin: auto;
    }
  }
}
